$primarycolor: rgb(228, 213, 213);
$titleSize: 2.5rem;
$font: helvetica;
$buttoncolor: rgb(214, 158, 158);

%flex {
    position: relative;
    display: flex;
    flex-direction: row;
}

@mixin column {
    flex-direction: column;
    justify-content: center;
}


.App {
    text-align: center;
    .login {
        position: absolute;
        right: 30px;
        top: 50px;
        font-size: 1rem;
        background-color: $buttoncolor;
        width: 12%;
        height: 5%;
        border-radius: 25%;
        font-weight: 400;
        display: flex;
        @include column;
    }
    .logout {
        position: absolute;
        right: 90px;
        top: 20px;
        background-color: $buttoncolor;
        width: 5%;
        height: 3%;
        border-radius: 25%;
        border: none;
    }
}

body {
    background-color: $primarycolor;
    width: 100%;
    height: 100%;
}

.photo {
    @extend %flex;
    justify-content: center;
    font-size: $titleSize;
    
    .slc {
        position: absolute;
        font-size: 3rem;
        top:100px;
    }
}



nav{
    .Welcome {
        @extend %flex;
        justify-content: center;
        font-size: 3rem;
    }
    .nav {
        @extend %flex;
        width: 90%;
        justify-content: space-evenly;
        background-color: rgb(242, 247, 246);
        padding: 2%;
        margin: 2%;
        border-radius: 10%;
        font-size: 1.5rem;
    }
    .links {
        color: black;
        size: 2rem;
        font-weight: 700;
        text-decoration: none;
    }
}

.openView {
    position: absolute;
    background-color: rgb(220, 225, 245);
    display: flex;
    border-radius: 10%;
    height: 150px;
    width: 350px;
    top: 400px;
    left: 40%;
    @include column;
}

.athletes {
    @extend %flex;
    font-size: 1rem;
    border: 1px solid black;
    width: 70%;
    left: 270px;
    background-color: $buttoncolor;
    text-decoration: black;  
    top: 20px;
    border-radius: 15%;
}

.number {
    position: relative;
    left: 100px;
}
.name {
    position: absolute;
    left: 300px;
}
.position {
    position: absolute;
    left: 600px;
}
.year {
    position: relative;
    left: 850px;
}
.town {
    position: relative;
    left: 1050px;
}

.sportTitle, .degreeType {
    position: relative;
    text-align: center;
    font-size: $titleSize;
    font-weight: 600;
}
.rosterTitle {
    @extend %flex;
    font-size: 1.2em;
    width: 70%;
    left: 270px;
    text-decoration: black;
    top: 20px;
    background-color: rgb(242, 247, 246);
    border-radius: 15%;
    font-weight: 500;
}

.about {
    position: absolute;
    top: 350px;
    margin: 0, auto;
    width: 40vw;
    left: 580px;
}

.degrees {
    position: relative;
    font-weight: 100;
    top: 50px;
}

.Master {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.degreeList, .sports {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}

.chart {
    position: absolute;
    right: 50px;
    top: 200px;
}

.chart2 {
    position: absolute;
    left: 50px;
    top: 200px;
}

// Responsive View Design: 


@media(max-width: 1200px){
    nav > .Welcome {
        font-size: 2rem;
    }
    nav > .nav {
        font-size: 1rem;
    }
    .body {
        width: 80%;
    }
    .App > .login {
        top: 25px;
        font-size: 0.8rem;
    }
    .App > .logout {
        top: 10px;
        font-size: 0.7rem;
        right: 70px;
    }
}
@media(max-width: 1000px){
    .body {
        width: 60%;
    }
    
}
@media(max-width: 800px){
    .body {
        width: 50%;
    }
    .openView {
        left: 300px;
    }
}
@media(max-width: 700px){
    .body {
        width: 40%;
    }
}
@media(max-width: 400px){
    .openView {
        height: 200px;
        width: 200px;
        left: 100px;
    }
}
